@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
  font-family: "Lora", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  padding: .5rem 0;
  background-color: #696;
  text-align: center;
}

h1 {
  margin: 0 0 .5rem;
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  text-align: center;
}

nav a {
  display: block;
  padding: .5rem .75rem;
  color: #333;
  text-decoration: none;
}

.btn {
  display: inline-block;
  background-color: #336633;
  border-radius: 5px;
  color: #ffc;
  text-decoration: none;
  font-size: 0.6rem;
  padding: .5em;
  border-width: 3px;
  text-align: center;
}

.btn3 {
  display: block;
  background-color: #363;
  border-radius: 5px;
  color: #ffc;
  text-decoration: none;
  font-size: 0.6rem;
  padding: .5em;
  border-width: 3px;
  text-align: center;
}

.btn2 {
  display: inline-block;
  background-color: #fc3;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
  padding: .6em;
  border-width: 4px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn:hover {
  display: inline-block;
  background-color: #030;
  border-radius: 5px;
  color: #ffc;
  text-decoration: none;
  font-size: 0.6rem;
  padding: .5em;
  border-width: 3px;
  text-align: center;
}

.btn2:hover {
  display: inline-block;
  background-color: #c90;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
  padding: .6em;
  border-width: 4px;
  text-align: center;
}

.btn3:hover {
  display: block;
  background-color: #030;
  border-radius: 5px;
  color: #ffc;
  text-decoration: none;
  font-size: 0.6rem;
  padding: .5em;
  border-width: 3px;
  text-align: center;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

.img-flex {
  width: 100%;
  display: block;
}

.banner {
  overflow: hidden;
  position: relative;
}

.banner-content {
  padding: 0;
  position: absolute;
  top: 4rem;
  font-size: 1.5rem;
  max-width: 23rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 90%;
}

h2 {
  margin: 0;
  color: black;
  font-size: 1rem;
  font-style: normal;
  padding: 0;
  text-align: center;
}

p {
  margin-bottom: 1.25rem;
  font-size: 0.50rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  color: #030;
}

.deal1 {
  text-align: center;
  font-size: 1rem;
}

.deal2 {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

.weekdeal {
  background-color: #963;
}

.list {
  width: 33.3%;
  background-color: #696;
  float: left;
  box-sizing: border-box;
  padding: 1.75rem;
  border-left: 1px solid #222;
}

.box {
  width: 100%;
}

.about {
  font-size: 1.5rem;
  background-color: #fc3;
  padding-bottom: 1.5rem;
  padding-top: 18rem;
  display: block;
  border-radius: 1rem;
}

.title {
  margin-top: 28rem;
  text-align: center;
}

.text {
  text-align: left;
  padding: 1rem;
}

footer {
  background-color: #ccc;
  padding: 3rem;
  text-align: center;
  font-size: 0.5rem;
}

@media only screen and (min-width: 25em) {

  nav li {
    display: inline-block;
    text-align: center;
    font-size: 0.5rem;
  }

  h2 {
    margin: 0;
    color: black;
    font-size: 1.5rem;
    font-style: normal;
    padding: 0;
    text-align: center;
  }

  p {
    margin-bottom: 1.25rem;
    font-size: 1rem;
    text-align: center;
  }

  .imgd {
    display: block;
    width:100%;
  }

  .btn2 {
    font-size: 0.7rem;
  }

  .btn2:hover {
    display: inline-block;
    background-color: #c90;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    font-size: 0.7rem;
    padding: .6em;
    border-width: 4px;
    text-align: center;
  }

  .about {
    font-size: 1.5rem;
    background-color: #fc3;
    margin-top: 3rem;
    padding-top: 30rem;
    display: block;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
    font-size: 1rem;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  nav li {
    display: inline-block;
    text-align: center;
    font-size: 0.75rem;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  nav {
    padding-left: 2rem;
    position: absolute;
    right: 5%;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  .btn {
    display: inline-block;
    background-color: #363;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    padding: .6em;
    border-width: 4px;
    text-align: center;
  }

  .btn:hover {
    display: inline-block;
    background-color: #030;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    padding: .6em;
    border-width: 4px;
    text-align: center;
  }

  .banner-content {
    padding: 0;
    position: absolute;
    top: 6rem;
    font-size: 1.5rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 90%;
  }

  h2 {
    font-size: 2rem;
  }

  .btn2 {
    display: inline-block;
    background-color: #fc3;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    font-size: 0.9rem;
    padding: .6em;
    border-width: 4px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn2:hover {
    display: inline-block;
    background-color: #c90;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    font-size: 0.9rem;
    padding: .6em;
    border-width: 4px;
    text-align: center;
  }

  .imgd {
    display: inline-block;
    width:40%;
    padding: 1.25rem;
  }

  h3 {
    display: inline-block;
    font-size: 1.85rem;
    color: #030;
    float: right;
    position: absolute;
    left:48%;
    bottom:20%;
  }

  .deal1 {
    display: inline-block;
    font-size: 1rem;
    float: right;
    position: absolute;
    bottom: 15%;
    left: 48%;
  }

  .deal2 {
    display: inline-block;
    font-size: 1rem;
    float: right;
    position: absolute;
    bottom: 5%;
    left: 48%;
  }

  .btn3 {
    display: block;
    background-color: #363;
    border-radius: 5px;
    color: #ffc;
    text-decoration: none;
    font-size: 0.6rem;
    padding: .5em;
    border-width: 3px;
    text-align: center;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

  .btn3:hover {
    display: block;
    background-color: #030;
    border-radius: 5px;
    color: #ffc;
    text-decoration: none;
    font-size: 0.6rem;
    padding: .5em;
    border-width: 3px;
    text-align: center;
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  nav {
    padding-left: 2rem;
    position: absolute;
    right: 10%;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  .btn {
    display: inline-block;
    background-color: #363;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    padding: .5em;
    border-width: 3px;
    text-align: center;
  }

  .btn:hover {
    display: inline-block;
    background-color: #030;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    padding: .5em;
    border-width: 3px;
    text-align: center;
  }

  .banner-content {
    padding: 0;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    max-height: 90%;
  }

  h2 {
    font-size: 2.21rem;
    position: relative;
  }

  .imgd {
    display: inline-block;
    width:40%;
    padding: 2rem;
  }

  h3 {
    display: inline-block;
    font-size: 2.25rem;
    color: #030;
    float: right;
    position: absolute;
    left:48%;
    bottom:20%;
  }

  .deal1 {
    display: inline-block;
    font-size: 1.25rem;
    float: right;
    position: absolute;
    bottom: 15%;
    left: 48%;
  }

  .deal2 {
    display: inline-block;
    font-size: 1.25rem;
    float: right;
    position: absolute;
    bottom: 5%;
    left: 48%;
  }

  .btn3 {
    display: block;
    background-color: #363;
    border-radius: 5px;
    color: #ffc;
    text-decoration: none;
    font-size: 0.6rem;
    padding: .5em;
    border-width: 3px;
    text-align: center;
    margin-left: 5.25rem;
    margin-right: 5.25rem;
  }

  .btn3:hover {
    display: block;
    background-color: #030;
    border-radius: 5px;
    color: #ffc;
    text-decoration: none;
    font-size: 0.6rem;
    padding: .5em;
    border-width: 3px;
    text-align: center;
    margin-left: 5.25rem;
    margin-right: 5.25rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
  }

  h1,
  nav {
    display: inline-block;
    vertical-align: middle;
  }

  nav {
    padding-left: 2rem;
    position: absolute;
    right: 10%;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  .btn {
    display: inline-block;
    background-color: #363;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    padding: .5em;
    border-width: 3px;
    text-align: center;
  }

  .btn:hover {
    display: inline-block;
    background-color: #030;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    padding: .5em;
    border-width: 3px;
    text-align: center;
  }

  .banner-content {
    padding: 0;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    max-height: 90%;
  }

  h2 {
    font-size: 2.25rem;
    position: relative;
  }

  .imgd {
    display: inline-block;
    width:40%;
    padding: 2rem;
  }

  h3 {
    display: inline-block;
    font-size: 2.25rem;
    color: #030;
    float: right;
    position: absolute;
    left:48%;
    bottom:20%;
  }

  .deal1 {
    display: inline-block;
    font-size: 1.25rem;
    float: right;
    position: absolute;
    bottom: 15%;
    left: 48%;
  }

  .deal2 {
    display: inline-block;
    font-size: 1.25rem;
    float: right;
    position: absolute;
    bottom: 5%;
    left: 48%;
  }

  .btn3 {
    display: block;
    background-color: #363;
    border-radius: 5px;
    color: #ffc;
    text-decoration: none;
    font-size: 0.6rem;
    padding: .5em;
    border-width: 3px;
    text-align: center;
    margin-left: 5.25rem;
    margin-right: 5.25rem;
  }

  .btn3:hover {
    display: block;
    background-color: #030;
    border-radius: 5px;
    color: #ffc;
    text-decoration: none;
    font-size: 0.6rem;
    padding: .5em;
    border-width: 3px;
    text-align: center;
    margin-left: 5.25rem;
    margin-right: 5.25rem;
  }

}
